/* This is a CSS file */
/** 背景色を設定 */
h2,h3{
 background-color:#9cf;
}

/** 見出しを中央寄せ */
h2 {
  text-align: center;
}

/** フッターを左寄せ */
h3 {
  text-align: left;
  margin-top:-500; 
}

/** 講義表示個所の文字サイズ */
/** タイトル */
#kougiMain title {
    font-size: 40%;
}
/** デフォルト文字サイズ */
#kougiMain div {
    font-size: 80%;
}